// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You cae use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}
form {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  width: 50%;
}
input[type=text] {
  display: block;
  width: 100%;
  font-size: 30px;
  margin-bottom: 10px;
}
input[type=submit] {
  display: block;
  width: 100%;
  font-size: 20px;
}
